<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/varStyle.css}">
    <script>
        function selectAllCheckboxes(selectAll) {
            const checkboxes = document.querySelectorAll('input[name="taskIds"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAll.checked;
            });
        }

        function submitForm(event) {
            event.preventDefault();  // Предотвращает стандартное поведение формы
            const form = document.getElementById("myForm");
            const formData = new FormData(form);

            fetch('/var', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    alert('Ошибка при создании файла.');
                    throw new Error('Ошибка при создании файла.');
                }
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'files.zip'; // Укажите здесь имя файла для скачивания
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                // Перенаправление на главную страницу
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("myForm");
            form.addEventListener("submit", submitForm);
        });
    </script>
</head>

<body>
    <div class="vars">
        <h1>Вариант <span th:text="${option}"></span></h1>
        <form id="myForm" method="post" th:action="@{/var}">
            <div>
                <input type="checkbox" id="selectAll" onclick="selectAllCheckboxes(this)">
                <label for="selectAll">Выбрать все</label>
            </div>
            <div th:each="task: ${tasks}">
                <input type="checkbox" th:value="${task.getTask_id()}" name="taskIds">
                <span th:text="${task.getTask_text()}"></span>
            </div>
            <div class="inputField">
                <label for="numPages">Количество вариантов: </label>
                <input type="number" id="numPages" name="numPages" min="1">
            </div>
            <div class="buttons">
                <button type="submit">Download File</button>
            </div>
        </form>
    </div>
</body>

</html>
